*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
body{
    font-family: 'Open Sans Condensed', sans-serif;
}

/* HEADER */

header{
    margin: 2vh 10vw 2vh 10vw;
}

.logo{
   padding-right: 3vw;
   border-right: 1px solid gainsboro; 
}


.menu-principale a{
    display: inline-block;
    margin: 5vh 0 0 0;
    text-decoration: none;
    color: black;
}

.menu-principale li{
    display: inline-block;
    margin-right: 1vw;
    padding: 0;
}

ul{
    list-style: none;
}

/* HEADER */

/* MAIN */

main{
    width: 80vw;
    margin: 4vh 10vw 0 10vw;
}

.bg-yellow{
    height: 80vh;
    background-color: rgb(235, 235, 137);
    
}

.bg-blue{
    height: 80vh;
    background-color: rgb(101, 148, 209);
    margin: 4vh 0 0 0;
}

/* MAIN */

/* UTILITY */

.column-light-blue{
    background-color: rgb(103, 235, 235);
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* UTILITY */

.top{
    width: 80vw;
    height: 10vh;
    margin: 0 0 3vh 0;
}

.left{
    width: 20%;
    height: 64vh;
    float: left;
}

.right{
    width: 20%;
    height: 64vh;
    float: right;
}
    

.center{
    width: calc(60% - 3vw);
    height: 64vh;
    float: left;
    margin: 0 1.5vw 0 1.5vw;
    
}

/* FOOTER */

footer{
    background-color: rgb(139, 94, 139);
    width: 80vw;
    height: 5vh;
    margin: 2vh 10vw 2vh 10vw;
}

/* FOOTER */